<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- https://pub.dev/packages/geolocator -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- https://github.com/llfbandit/record/blob/master/record_android/README.md#record-android -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- https://pub.dev/packages/audio_service#android-setup -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:label="@string/app_name"
        android:name="${applicationName}"
        android:icon="@mipmap/uil_diary_alt"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:usesCleartextTraffic="true"
        android:localeConfig="@xml/locales_config"
    >
        <activity
            android:name="com.ravana.mydiary.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
        >
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>

        <!-- https://pub.dev/packages/audio_service#android-setup -->
        <service
            android:name="com.ryanheise.audioservice.AudioService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <!-- https://pub.dev/packages/audio_service#android-setup -->
        <receiver
            android:name="com.ryanheise.audioservice.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data android:name="flutterEmbedding" android:value="2" />
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_map_api_key" />
        <!-- App logo alias for arcticons_diary -->
        <activity-alias
            android:name="com.ravana.mydiary.arcticons_diary"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/arcticons_diary"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
--
        <!-- App logo alias for bi_journal_bookmark_fill -->
        <activity-alias
            android:name="com.ravana.mydiary.bi_journal_bookmark_fill"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/bi_journal_bookmark_fill"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
--
        <!-- App logo alias for famicons_journal -->
        <activity-alias
            android:name="com.ravana.mydiary.famicons_journal"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/famicons_journal"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
--
        <!-- App logo alias for fluent_animal_cat_24_filled -->
        <activity-alias
            android:name="com.ravana.mydiary.fluent_animal_cat_24_filled"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/fluent_animal_cat_24_filled"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
--
        <!-- App logo alias for iconoir_journal -->
        <activity-alias
            android:name="com.ravana.mydiary.iconoir_journal"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/iconoir_journal"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
--
        <!-- App logo alias for mdi_fruit_grapes -->
        <activity-alias
            android:name="com.ravana.mydiary.mdi_fruit_grapes"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/mdi_fruit_grapes"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
--
        <!-- App logo alias for mingcute_apple_fruit_fill -->
        <activity-alias
            android:name="com.ravana.mydiary.mingcute_apple_fruit_fill"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/mingcute_apple_fruit_fill"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
--
        <!-- App logo alias for ooui_journal_ltr -->
        <activity-alias
            android:name="com.ravana.mydiary.ooui_journal_ltr"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/ooui_journal_ltr"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
--
        <!-- App logo alias for streamline_ultimate_fruit_banana -->
        <activity-alias
            android:name="com.ravana.mydiary.streamline_ultimate_fruit_banana"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/streamline_ultimate_fruit_banana"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
--
        <!-- App logo alias for uil_diary_alt -->
        <activity-alias
            android:name="com.ravana.mydiary.uil_diary_alt"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/uil_diary_alt"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    <!-- App logo alias for arcticons_diary -->
        <activity-alias
            android:name="com.ravana.mydiary.arcticons_diary"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/arcticons_diary"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
<!-- App logo alias for bi_journal_bookmark_fill -->
        <activity-alias
            android:name="com.ravana.mydiary.bi_journal_bookmark_fill"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/bi_journal_bookmark_fill"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
<!-- App logo alias for famicons_journal -->
        <activity-alias
            android:name="com.ravana.mydiary.famicons_journal"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/famicons_journal"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
<!-- App logo alias for fluent_animal_cat_24_filled -->
        <activity-alias
            android:name="com.ravana.mydiary.fluent_animal_cat_24_filled"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/fluent_animal_cat_24_filled"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
<!-- App logo alias for iconoir_journal -->
        <activity-alias
            android:name="com.ravana.mydiary.iconoir_journal"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/iconoir_journal"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
<!-- App logo alias for mdi_fruit_grapes -->
        <activity-alias
            android:name="com.ravana.mydiary.mdi_fruit_grapes"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/mdi_fruit_grapes"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
<!-- App logo alias for mingcute_apple_fruit_fill -->
        <activity-alias
            android:name="com.ravana.mydiary.mingcute_apple_fruit_fill"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/mingcute_apple_fruit_fill"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
<!-- App logo alias for ooui_journal_ltr -->
        <activity-alias
            android:name="com.ravana.mydiary.ooui_journal_ltr"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/ooui_journal_ltr"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
<!-- App logo alias for streamline_ultimate_fruit_banana -->
        <activity-alias
            android:name="com.ravana.mydiary.streamline_ultimate_fruit_banana"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/streamline_ultimate_fruit_banana"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
<!-- App logo alias for uil_diary_alt -->
        <activity-alias
            android:name="com.ravana.mydiary.uil_diary_alt"
            android:targetActivity="com.ravana.mydiary.MainActivity"
            android:icon="@mipmap/uil_diary_alt"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>